[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
isort = "*"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
